@font-face {
    font-family: pp;
    src: url(/Fonts/PPNeueMontreal-Medium.88ee7c9.woff2);
}
@font-face{
    font-family: found;
    src : url(/Fonts/founders-grotesk-x.cd2d353.woff2);
}
:root{
    --pre : rgb(229, 231, 223);
    --sec : rgb(30, 30, 30);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 80px;
    background-color: var(--pre);
    padding:20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
nav img{
    width: 9%;
    mix-blend-mode: difference;
    
}
nav a{
    text-decoration: none;
    font-family: pp;
    font-size: 20px;
    color: var(--sec);
}
.nav-middle{
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main{
    background-color: var(--pre);
}
.page1{
    width: 100%;
    height: 100vh;
    padding:2.5vw;
    padding-top: 9vw;
}
.page1-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page1-part1{
    width: 21%;
}
.page1-part1 p{
    font-size: 21px;
    font-family: pp;
    margin-bottom:30px;
}
.page1-part1 a{
    text-decoration: none;
    font-size: 21px;
    display: block;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--sec);
    font-family: pp;
}
.page1-part2{
    width: 62%;
    font-family: pp;
}
.page1-part2 h2{
    font-size: 52px;
    font-weight: 400;
}
.page1-heading{
    height: 350px;
    margin-top: 40px;
    display: flex;
    gap:100px;
}
.text-div{
    height: 100%;
    font-family: found;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    width: fit-content;
    padding-bottom: 3vw;
    animation-name: move;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
}
.text-div h1{
    font-size:30vw;
}
.text-div img{
    height: 96.5%;
    margin-top: 3.2vw;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}